{% if site.navigation_header %}
  <nav id="page-menu">
    {% if site.logo %}
      {% include site-logo.html %}
    {% endif %}

    <ul class="list  list--nav">
      {% for item in site.navigation_header %}

        {% assign item_title = site.data.snippets.menu_entries[item][page.lang].title %}
        {% assign item_url = site.data.snippets.menu_entries[item][page.lang].url %}

        {% if item.url contains '://' %}
          {% assign url = item_url %}
        {% else %}
          {% assign url = item_url | relative_url %}
        {% endif %}

        <li class="item item--nav{% if item_url == page.url %} item--current{% endif %}">
          <a href="{{ url }}">{{ item_title }}</a>
        </li>
      {% endfor %}
    </ul>
    <button aria-label="Menu toggle" class="button  button--nav">
      {% include icon.html id="nav" title="Menu" %}
    </button>
  </nav>

  <div aria-label="Language selector" class="btn-group" role="group">
    {% include translation-links.html %}
    {% assign all_translations = translation_candidates | push: translation_source %}

    {% for lang in site.data.snippets.language-list %}
      {% assign language_name = site.data.snippets.menu-lang[lang] %}

      {% if page.lang == lang %}
        <a
          aria-pressed="true"
          class="btn btn-secondary nav-link active disabled"
          role="button">{{ language_name }}</a>
      {% else %}
        {% assign alternate_target = all_translations | where: "lang", lang | first %}
        {% if alternate_target %}
          <a class="btn btn-secondary nav-link" role="button" href="{{ alternate_target.url }}">{{ language_name }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% else %}
  {% include nav-default.html %}
{% endif %}

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector(".header .list--nav");
  const button = document.querySelector(".header .button--nav");

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      navList.style.setProperty("--listHeight", `-${
        navList.offsetHeight
      }px`);
    } else {
      navList.removeAttribute("style");
    }

    button.onclick = () => {
      navList.style.setProperty("transition", `margin .1s`);
      if (navList.style.getPropertyValue("--listHeight")) {
        navList.style.removeProperty("--listHeight");
      } else {
        navList.style.setProperty("--listHeight", `-${
          navList.offsetHeight
        }px`);
      }
    }
  }

  collapseNav();

  // Check on resize if to collapse nav
  window.addEventListener("resize", () => {
    collapseNav();
  });
</script>
