{% if site.navigation_header %}
  <nav id="page-menu">
    {% if site.logo %}
      {% include site-logo.html %}
    {% endif %}

    <ul class="list  list--nav">
      {% for item in site.navigation_header %}

        {% assign pages_curr_reference = site.pages | where: "reference", item %}
        {% assign page_to_link = pages_curr_reference | where: "lang", page.lang | first %}

        {% if item.url contains '://' %}
          {% assign url = page_to_link.url %}
        {% else %}
          {% assign url = page_to_link.url | relative_url %}
        {% endif %}

        <li class="item item--nav{% if page_to_link.url == page.url %} item--current{% endif
            %}">
          <a href="{{ url }}">{{ page_to_link.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <div class="dropdown">
      <button
        aria-label="Menu toggle"
        class="button  button--nav"
        onclick="showContent()">
        {% include icon.html id="nav" title="Menu" %}
      </button>
      <div class="dropdown-content" id="drop-cont">
        {% for item in site.navigation_header %}

          {% assign pages_curr_reference = site.pages | where: "reference", item %}
          {% assign page_to_link = pages_curr_reference | where: "lang", page.lang | first %}

          {% if item.url contains '://' %}
            {% assign url = page_to_link.url %}
          {% else %}
            {% assign url = page_to_link.url | relative_url %}
          {% endif %}

          <a href="{{ url }}">{{ page_to_link.title }}</a>
        {% endfor %}
      </div>
    </div>
  </nav>

  <div aria-label="Language selector" class="language-selector" role="group">
    <div class="language-selector-internal">
      {% if page.reference %}
        {% assign translation_candidates = site.pages | where: "reference", page.reference %}
        {% if translation_candidates.size == 0 %}
          {% assign translation_candidates = site.posts | where: "reference", page.reference %}
        {% endif %}
      {% endif %}

      {% for lang in site.data.snippets.language-list %}
        {% assign language_flag_path = site.data.snippets.menu-lang[lang] %}

        {% if page.lang == lang %}
          <a
            aria-pressed="true"
            class="btn btn-secondary nav-link active disabled"
            role="button"><img class="language-flag" height="16" width="24" src={{ language_flag_path | absolute_url }} alt="language-flag" />
          </a>
        {% else %}
          {% assign alternate_target = translation_candidates | where: "lang", lang | first %}
          {% if alternate_target %}
            <a class="btn btn-secondary nav-link" role="button" href="{{ alternate_target.url }}"><img class="language-flag" height="16" width="24" src={{ language_flag_path | absolute_url }} alt="language-flag" />
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% else %}
  {% include nav-default.html %}
{% endif %}

<script type="text/javascript">

  /* When the user clicks on the button, toggle between hiding and showing the
   dropdown content */
  function showContent() {
    document
      .querySelector(".dropdown-content")
      .style
      .display = "block";
  }

  function toggleBarElementOn(barElement) {
    barElement.classList.remove("nav--hide");
    barElement.classList.add("nav--show");
  }

  function toggleBarElementOff(barElement) {
    barElement.classList.remove("nav--show");
    barElement.classList.add("nav--hide");
  }

  // Hide nav and apply toggle
  const collapseNav = () => { // Get list and button
    const navList = document.querySelector(".list.list--nav");
    const button = document.querySelector(".dropdown");

    if (document.body.clientWidth < 640) {
      toggleBarElementOff(navList);
      toggleBarElementOn(button);
    } else {
      toggleBarElementOn(navList);
      toggleBarElementOff(button);
    }
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    if (
      event.target.tagName != "BUTTON" &&
      event.target.tagName != "svg" &&
      event.target.tagName != "use"
    ) {
      var i;
      for (i = 0; i < dropdowns.length; i = i + 1) {
        var openDropdown = dropdowns[i];
        if (openDropdown.style.display != "none") {
          openDropdown.style.display = "none";
        }
      }
    };
  };

  collapseNav();

  // Check on resize if to collapse nav
  window.onresize = collapseNav;
  window.onload = collapseNav;
</script>
