<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">

  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
    <section class="section  section--description">
      <h3>{{ site.data.snippets.about[page.lang] }}
      </h3>
      <p>{{ site.data.snippets.description[page.lang] }}</p>
      {% include nav-social.html %}
    </section>

  {% elsif page.layout == "categories" %}
    <section class="section  section--category-index">
      <h3>{{ site.data.snippets.index[page.lang] }}</h3>
      {% include nav-categories.html %}
    </section>

  {% endif %}

</aside>
