{% assign feature_image = page.feature_image %}
{% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  {% assign feature_text = collectiondata.feature_text %}
  {% assign feature_image = collectiondata.feature_image %}
{% endif %}

{% if feature_image %}
  <div class="feature" {% if feature_image %} style="background-image: url({{ feature_image | prepend: '/assets/features/' | prepend: site.url }})" {% endif %}>
    <div class="container  typeset">
      <h2 class="feature_text">{{ page.title }}</h2>
    </div>
  </div>
{% endif %}

<script>
  (() => {
    "use strict";
    // Page is loaded
    const objectName = "feature";
    const objects = document.getElementsByClassName(objectName);
    Array.from(objects).map((item) => { // Start loading image
      const img = new Image();
      const smallImagePath = item.style.backgroundImage;
      const largeImagePath = smallImagePath.substring(
      smallImagePath.indexOf("(\"") + 2, smallImagePath.lastIndexOf(".")) + "-large.webp";
      console.log("Loading feature image: " + largeImagePath);
      img.src = largeImagePath;

      // Once image is loaded replace the src of the HTML element
      img.onload = () => {
        console.log("Image finished loading.");
        item.style.backgroundImage = "url(\"" + this.src + "\")";
      };
    });
  })();
</script>